<!DOCTYPE HTML>

<html>

    <head>
        <title>Remote Control</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1" user-scalable="no" />
        <meta charset="UTF-8" />
        
        <style>

            body {
                background-color: black;
                overflow: hidden;
            }

            .my_button {
                padding: 30px;
                width: 250px;
                display: block;
                box-sizing: border-box;
                margin: 0 auto;
                margin-top: 200px;
                top: 200px;
            }

        </style>

    </head>

    <body>

        <aside id="library">
            <img src="images/big-glow.png" id="big-glow" style="display:none;"/>
            <img src="images/small-glow.png" id="small-glow" style="display:none;"/>
        </aside>

        <button class="my_button" data-color="yellow">Lancer une Roquette</button>

        <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/connect_io.js"></script>

        <script src="/js/fireworks.js"></script>
        <script src="/js/requestanimframe.js"></script>

        <script>


            $(document).ready(function() {

                if($(window).width() < 1000) {

                    $('.my_button').on('click', function() {
                        var color = $(this).attr('data-color');
                        socket.emit('buttonColor', {color: color});
                    });

                } else {

                    $('.my_button').hide();
                }

            });

        </script>

    </body>
</html>
